:root{
  --astro-primary: #501577; 
  --astro-medium: #17076d;
  --astro-light: #ec47bb;

}

header{
  position: fixed;
  top: 0;
  width: 100%;
}
.bg-astro-image{
    background-image: url("https://s3-alpha-sig.figma.com/img/b12c/0f55/7d5edb4045a7f199fb2088661487864b?Expires=1635120000&Signature=Burgz2w40BxMA~jzpErTRmnP6fi2JoMbOhilguhnzScOGBDKONafn2Cj~rxjSFS0whutPy2JC7ntnBlGCB~czHxFRLRGrXkTEbYyaiUleavzj9PZ3OXWhm-16o8W6LIr7-9CmFKpoeZPchQZICrqANeREbOuq-xYqIqGLqTx0pLBllNQDS8ymSv7pUWPnKCZatuI5CwJ9fUgAoIkvvTgE~Qo0a8xHpP6GRmo0MnpHiSxsMMgxJZUOCbf9M7C1TDc5r~c2Qw4i4pUHBYUu0uc88Jmluh3xGzMAFZKvwjNIx9uES-WwyW6AvitxdorhxIe1~gtMV9NDsE2PIUsXCl22g__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;
    background-position: center;

}

.astro-primary{
  background-color: var(--astro-primary);
}

@media only screen and (min-width: 768px) {
.card-spill{
  transform: translateY(50px);
}
}

@media only screen and (max-width: 768px){
  .astroFam{
    display: none;
  }
}

.astrobar{
  font-family: 'Fjalla One', sans-serif;
}

.astro-medium{
  background-color: var(--astro-medium);
}

.astro-light{
  background-color: var(--astro-light);
}

